@import './base.css';

#app {
  margin: 0;
  padding: 0;
  display: grid;

  /* Let the grid system fill the entire screen */
  flex-grow: 10; 

  grid-template-columns: 1fr 6fr 1fr;
  grid-template-rows: 0.5fr 6fr 0.5fr;

  font-weight: normal;

  width: 100%;

  grid-template-areas: 
    "header header header"
    "preview-sidebar main-editor toolbar-sidebar"
    "footer footer footer";

  z-index: 1;
}
#header {
  grid-area: 1 / 1 / 2 / 4;
  /* z-index: 1; */
}

#footer {
  grid-area: 3 / 1 / 4 / 4;
  /* z-index: 1; */
}

#preview-sidebar {
  grid-area: 2 / 1 / 3 / 2;
  /* z-index: 1; */
}

#toolbar-sidebar {
  grid-area: 2 / 3 / 3 / 4;
  /* z-index: 1; */
}

#main-editor {
  grid-area: 2 / 2 / 3 / 3;
  /* z-index: 1; */
}



@media (min-width: 1024px) {
  body {
    display: flex;
    place-items: center;
  }


}
